@model IEnumerable<Department>

@{
    ViewBag.Title = "Departments";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create"><button class="btn btn-primary">Add</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeptName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DeptId"><button class="btn btn-info">Edit</button></a> 
                <a asp-action="Details" asp-route-id="@item.DeptId"><button class="btn btn-primary">Details</button></a> 
                <a asp-action="Delete" asp-route-id="@item.DeptId"><button class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
