@model IEnumerable<Department>

@{
    ViewBag.Title = "Departments";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/departmentIndex.css" rel="stylesheet" />
</head>
<body>
    <h1>Departments</h1>

    <a asp-action="Create"><button class="btn btn-primary">Add</button></a>

    <form asp-action="Index" method="post">
        <div class="row input-group">
            <label>Search Departments</label>
            <br />
            <input type="text" name="search" id="search" class="form-control" style="width:50px" />
            <br />
            <div class="input-group-btn">
                <input type="submit" value="search" class="btn btn-primary" />
            </div>
        </div>
    </form>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in Model)
            {
                <tr>
                    <td>@department.DeptId</td>
                    <td>@department.DeptName</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@department.DeptId"><button class="btn btn-info">Edit</button></a>
                        <a asp-action="Details" asp-route-id="@department.DeptId"><button class="btn btn-primary">Details</button></a>
                        <a asp-action="Delete" asp-route-id="@department.DeptId"><button class="btn btn-danger">Delete</button></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
