@model IEnumerable<Teacher>

@{
    
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/teacherIndex.css" rel="stylesheet" />
</head>
<body>
    <h1>Teachers</h1>
    <div class="row">
        <div class="col-8">
            <a asp-action="Create"><button class="btn btn-primary" style="width:auto">Add Teachers</button></a>
            <p id="totalStudents" class="mt-3">Total Teachers: @ViewBag.Total</p>
            <form asp-action="Index" method="post">
                <label>Search Teacher</label>
                <div class="row input-group">
                    <input type="text" name="search" id="searchInput" class="form-control col-xs-2 col-sm-4 col-lg-4 col-md-4" />
                </div>
                <div class="input-group-btn mt-3">
                    <input type="submit" value="search" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Department</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var teacher in Model)
                {
                <tr>
                    <td>@teacher.TeacherId</td>
                    <td>@teacher.Name</td>
                    <td>@teacher.Address</td>
                    <td>@teacher.DeptId</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@teacher.TeacherId"><button class="btn btn-info">Edit</button></a>
                        <a asp-action="Details" asp-route-id="@teacher.TeacherId"><button class="btn btn-primary">Details</button></a>
                        <a asp-action="Delete" asp-route-id="@teacher.TeacherId"><button class="btn btn-danger">Delete</button></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>