@model IEnumerable<UniversityManagementSystem.Models.Teacher>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/teacherIndex.css" rel="stylesheet" />
</head>
<body>
    <h1>Teachers</h1>
    <a asp-action="Create"><button class="btn btn-primary">Add</button></a>
    <br />
    <form asp-action="Index" method="post">
        <div class="row input-group">
            <label>Search Teachers</label>
            <br />
            <input type="text" name="search" id="search" class="form-control" />
            <br />
            <div class="input-group-btn">
                <input type="submit" value="search" class="btn btn-primary" />
            </div>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var teacher in Model)
            {
                <tr>
                    <td>@teacher.TeacherId</td>
                    <td>@teacher.Name</td>
                    <td>@teacher.Address</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@teacher.TeacherId"><button class="btn btn-info">Edit</button></a>
                        <a asp-action="Details" asp-route-id="@teacher.TeacherId"><button class="btn btn-primary">Details</button></a>
                        <a asp-action="Delete" asp-route-id="@teacher.TeacherId"><button class="btn btn-danger">Delete</button></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>