@model IEnumerable<IGrouping<int, Student>>

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Students</title>
    <link href="~/css/studentIndex.css" rel="stylesheet" />
</head>
<body>
    <h1>Students By Department</h1>
    <div class="row">
        @foreach (var group in Model)
        {
            <p>Department - @group.Key</p> <br/>
            <p>Total students in this department - @group.Count()</p>
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Reg No</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in group)
                    {
                        <tr>
                            <td>@student.StudentId</td>
                            <td>@student.Name</td>
                            <td>@student.RegNumber</td>
                            <td>@student.Address</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</body>
</html>