@model StudentCourseViewModel

@{
    ViewData["Title"] = "ViewCourse";
}

<h1>ViewCourse</h1>

<html>
<head>

</head>
<body>
    <p>@Model.Student.Name is enrolled in the following courses</p>

    <div class="row">
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Course Id</th>
                    <th>Course Name</th>
                    <th>Credit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.StudentCourses)
                {
                    <tr>
                        <td>@data.Course.CourseId</td>
                        <td>@data.Course.Name</td>
                        <td>@data.Course.Credit</td> 
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @if (Model.StudentCourses.Count() == 0)
    {
        <p><i>No course taken</i></p>
    }

    <p><a asp-controller="Student" asp-action="AddCourse" asp-route-id="@Model.Student.StudentId">Add Course</a></p>
</body>
</html>

